<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.2.5" targetFramework="net40" />
  <package id="FSharp.Data.SqlClient" version="1.7.7" targetFramework="net40" />
  <package id="jQuery" version="2.2.0" targetFramework="net40" />
  <package id="WebSharper" version="3.6.7.227" targetFramework="net40" />
  <package id="WebSharper.Forms" version="3.6.5.43-alpha" targetFramework="net40" />
  <package id="WebSharper.Forms.Bootstrap" version="3.6.7.17-alpha" targetFramework="net40" />
  <package id="WebSharper.UI.Next" version="3.6.6.202" targetFramework="net40" />
</packages>